{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div id="calendar-holder"></div>

    {% block javascripts %}
        <!-- rrule lib -->
        <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>
        <!-- fullcalendar bundle -->
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
        <!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
        <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.19/index.global.min.js'></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const calendarEl = document.getElementById('calendar-holder');

                const calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'timeGridWeek',
                    headerToolbar: {
                        start: 'prev,next today',
                        center: 'title',
                        end: 'timeGridWeek'
                    },
                    firstDay: 1,
                    editable: true,
                    selectable: true,
                    selectMirror: true,
                    unselectAuto: true,
                    allDaySlot: false,
                    timeZone: 'UTC',

                    eventSources: [
                        {
                            url: '/fc-load-events',
                            method: 'POST',
                            extraParams: {
                                filters: JSON.stringify({})
                            },
                            failure: () => {
                                console.error('There was an error while fetching FullCalendar!');
                            },
                        },
                    ],

                    select(info) {
                        console.log('Selected from', info.startStr, 'to', info.endStr);
                    }
                });

                calendar.render();
            });
        </script>
    {% endblock %}
</div>
{% endblock %}
